.cards {}

.cards__container {
  max-width: 1260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: 100px minmax(100px, auto) 100px;
  gap: 20px;
  justify-content: center;
}

.cards__list {
  max-width: 300px;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 1px 1px 10px;
}

.card__img {
  display: block;
  margin: 0 auto 16px auto;

}

.card_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;;
}