.header {}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__nav {}

.header__list {
  display: flex;
}

.header__list li {
  margin: 0 30px 0 0;
}

.header__list li:last-child {
  margin: 0;
}

.header__link:hover {
  border-bottom: 2px solid var(--main-green);
}

.header__phone {
  cursor: pointer;
  ;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.header__burger {
  display: none;
}

@media (max-width: 390px) {
  .header__container{
    padding: 20px 20px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
